<div class="main">
    <div class="animation">
      <app-usernav></app-usernav>
      <div class="landing">
        <div class="container-fluid">
          <div class="row w-100 mt-3">
            <div class="col-lg-6 book">
              
  

                <div class="d-flex flex-row justify-content-sm-start align-items-start">
                  <h1 class="mb-4 font-weight-bold ps-2">Doc</h1>
                  <h1 class="mb-4 font-weight-bold"
                    style="background-color: rgba(0, 0, 0, 0.393); width: fit-content;">App</h1>
                </div>
              <div class="text-center text-md-left align-items-start pt-3">
                <div class="d-flex flex-row justify-content-center align-items-start">
                  <div class="col-md-6 col-sm-12 center-col text-center">
                    <a href="user-login" class="highlight-button btn-large button xs-margin-bottom-five buttonll"
                      data-abc="true">
                      <i class=""></i>Schedule Appointment
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="align-self-center paddingtop">
                <app-homepagecarousel></app-homepagecarousel>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  
      <!-- Department Section -->
  
      <div class="backgroundbl">
        <div id="department">
          <div class="textdept">
            <h1 class="textpad"> Explore our specialties of Clinical Excellence </h1>
            <section class="seperator">
              <div class="line">
  
              </div>
            </section>
  
          
          </div>
          <div class="departmentdiv">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-wrap="true">
              <div class="carousel-inner aligncar">
                <div class="carousel-item active">
                  <div class="row paddingtoponly">
                    <div class="col-md-3">
                      <div class="card carousel-card">
                        <img class="img-fluid imgheight" alt="100%x280" src="../../assets/dep/heart-rate.png">
                        <div class="card-body">
                          <h4 class="card-title">Cardiology</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card carousel-card">
                        <img class="img-fluid imgheight " alt="100%x280" src="../../assets/dep/bones.png">
                        <div class="card-body">
                          <h4 class="card-title">Orthopedics</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card carousel-card">
                        <img class="img-fluid imgheight" alt="100%x280" src="../../assets/dep/neurology.png">
                        <div class="card-body">
                          <h4 class="card-title">Neurology</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card carousel-card">
                        <img class="img-fluid imgheight" alt="100%x280" src="../../assets/dep/gastroenterology.png">
                        <div class="card-body">
                          <h4 class="card-title">Gastroenterolgy</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row paddingtoponly">
                    <!-- Second set of three cards -->
                    <div class="col-md-3">
                      <div class="card carousel-card">
                        <img class="img-fluid imgheight " alt="100%x280" src="../../assets/dep/radiology.png">
                        <div class="card-body">
                          <h4 class="card-title">Oncology</h4>
                        </div>
                      </div>
                    </div>
  
                    <div class="col-md-3">
                      <div class="card carousel-card">
                        <img class="img-fluid imgheight" alt="100%x280" src="../../assets/dep/pediatrics.png">
                        <div class="card-body">
                          <h4 class="card-title">Pediatrics</h4>
                        </div>
                      </div>
                    </div>
  
                    <div class="col-md-3">
                      <div class="card carousel-card">
                        <img class="img-fluid imgheight" alt="100%x280" src="../../assets/dep/maternity.png">
                        <div class="card-body">
                          <h4 class="card-title">Gynecology</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card carousel-card">
                        <img class="img-fluid imgheight" alt="100%x280" src="../../assets/dep/pulmonology.png">
                        <div class="card-body">
                          <h4 class="card-title">Pulmonology</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row paddingtoponly">
                    <!-- Third set of three cards -->
  
                    <div class="col-md-3">
                      <div class="card carousel-card">
                        <img class="img-fluid imgheight" alt="100%x280" src="../../assets/dep/dermatology.png">
                        <div class="card-body">
                          <h4 class="card-title">Dermatology</h4>
                        </div>
                      </div>
                    </div>
  
                    <div class="col-md-3">
                      <div class="card carousel-card">
                        <img class="img-fluid imgheight" alt="100%x280" src="../../assets/dep/ophthalmology.png">
                        <div class="card-body">
                          <h4 class="card-title">Ophthalmology</h4>
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
  
        </div>
      </div>
  
      <!-- Services Section -->
      <section class="services">
        <div class="container">
          <h1 class="text-center pt-5">Our Services</h1>
          <div class="row mt-5 p-md-4">
            <div class="col-md-4">
              <div class="service-item text-center">
                <img
                  src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v2/images/bookappt_icon.svg"
                  alt="icon" class="serviceicon">
                <h3 class="service-title">Make Appointments</h3>
                <p class="service-description">
                  Schedule appointments with doctors and specialists conveniently. Browse through a wide range of
                  partnered healthcare providers, select your preferred date and time slot, and book.
                  <strong>It's that simple</strong>
                </p>
  
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <div class="footer">
        <p>&copy; DocApp 2023</p>
      </div>